Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Flask-Cors==4.0.1
Flask-Bcrypt==1.0.1
Flask-SocketIO==5.3.6
python-socketio==5.11.2
PyMySQL==1.1.1
python-dotenv==1.0.1
cryptography==43.0.0
